.cell {
  width: 15px;
  height: 15px;
  border: 1px solid red;
  position: absolute;
}
body {
  /* background-color: rgb(15, 3, 40); */
}
#board {
  position: absolute;
  top: 100px;
  left: 270px;
  width: 135px;
  height: 255px;
}
#board-img-cont {
  width: 642px;
  height: 383px;
  position: absolute;
  top: 200px;
  left: 200px;
}
.pionek {
  width: 40px;
  height: 20px;
  position: absolute;

  display: flex;
}
.pionek-cell {
  position: absolute;

  width: 15px;
  height: 15px;
}
.stopped-cell {
  position: absolute;
}
.virus-cont {
  width: 96px;
  height: 72px;
  position: absolute;
  transform: scale(0.7);
}
#yellow {
  top: 210px;
  left: 75px;
}
#blue {
  top: 275px;
  left: 110px;
}
#red {
  top: 275px;
  left: 35px;
}
